$blockPadding: 7px;

#editorNavBarDropDown {
  width: auto !important;
  top:   $navbar-height-mobile !important;

  @media #{$medium-and-up} {
    top: $navbar-height !important;
  }
}

#planContainer {
  position: absolute;
  top:      $navbar-height;
  left:     0;
  right:    0;
  bottom:   50px;

  #planTable {
    width:                    auto;
    border-collapse:          collapse;
    position:                 absolute;
    -webkit-transform-origin: left top;
    -webkit-transform:        translateZ(0);
    -moz-transform-origin:    left top;
    -moz-transform:           translateZ(0);
    -ms-transform-origin:     left top;
    -ms-transform:            translateZ(0);
    -o-transform-origin:      left top;
    -o-transform:             translateZ(0);
    transform-origin:         left top;
    transform:                translateZ(0);

    td {
      border:                  1px solid $gridBorderColor;
      width:                   32px;
      height:                  32px;
      padding:                 0;
      -webkit-background-size: cover;
      background-size:         cover;

      &.hasImg {
        image-rendering: pixelated;
        border:          0;
      }

      body.isDev & {
        opacity: $devOpacity;
      }
    }
  }
}

#hotbarContainer {
  position:   absolute;
  bottom:     0;
  left:       0;
  right:      0;
  text-align: center;

  #blocksHotbar {
    padding:       7.5px;
    z-index:       2;
    background:    white;
    display:       inline-block;
    border:        1px solid $gridBorderColor;
    border-bottom: 0;
    border-radius: $button-radius;
    //@extend .z-depth-1;

    .inventorySlot.selectedBlock {
      @extend .z-depth-2;
    }
  }
}

.modal {
  top:   20% !important;
  right: initial;
  width: auto;

  &#duplicatePlanModal, &#confirmDeletePlanModal, &#importPlanModal {
    $duplicatePlanModalWidth: 25%;
    width: $duplicatePlanModalWidth;
    left:  calc((100% - #{$duplicatePlanModalWidth}) / 2);
  }

  &:focus {
    outline-width: 0;
  }

  .modal-content {
    padding: 20px 24px 0 24px;

    .modal-close {
      padding:  0 8px;
      position: absolute;
      top:      10px;
      right:    10px;
      color:    $button-flat-color;
    }

    h5 {
      margin-top:    0;
      margin-bottom: 18px;
      font-family:   Minecraft, $mainFont;
    }

    #inventory, #hotbar {
      border-top:  1px solid $gridBorderColor;
      border-left: 1px solid $gridBorderColor;

      .inventorySlot {
        border-bottom: 1px solid $gridBorderColor;
        border-right:  1px solid $gridBorderColor;

        .block {
          cursor: -webkit-grab;
        }
      }
    }

    #hotbar {
      margin: 24px 0;
    }

    p {
      margin-top: 0;
      font-size:  16px;
    }
  }

  .modal-footer {
    padding: 0 24px 60px 24px;

    .modal-close {
      margin: 0 0 0 0.75rem;
    }
  }
}

.inventoryRow {
  display: inline-block;
}

.inventorySlot {
  width:          32px + ($blockPadding * 2);
  height:         32px + ($blockPadding * 2);
  display:        inline-block;
  vertical-align: top;

  &.dragOver, &:hover {
    background-color: color('grey', 'lighten-3');
  }

  .block {
    width:       32px + ($blockPadding * 2);
    height:      32px + ($blockPadding * 2);
    padding:     $blockPadding;
    display:     inline-block;

    position:    relative;
    text-align:  left;
    overflow:    hidden;
    white-space: nowrap;
    transition:  none;

    .blockImg {
      -webkit-user-drag: none;
      @extend .no-select;

      body.isDev & {
        opacity: $devOpacity;
      }
    }
  }
}
