
#backgroundImg {
  position: absolute;
  bottom:   0;
  right:    50px;
  opacity:  0.2;
}

#hiddenIframe {
  display:       none;
  position:      absolute;
  z-index:       100;
  bottom:        100px;
  right:         100px;
  width:         500px;
  height:        500px;
  background:    color('blue-grey', 'lighten-3');
  border:        2px solid $gridBorderColor;
  border-radius: 5px;
  @extend .z-depth-5;
}

#signInRow {
  position: absolute;
  top:      0;
  left:     0;
  bottom:   0;
  right:    0;
  margin:   0;

  #signInCol {
    height: 100%;

    .section {
      width: 100%;

      p {
        margin-top:  25px;
        line-height: 24px;
        font-size:   16px;
        font-weight: 300;
      }

      #signInBtn {
        position: relative;

        img { // Google icon.
          height:       55%;
          top:          22.5%;
          bottom:       22.5%;
          margin-left:  -5px;
          margin-right: 15px;
          display:      inline-block;
        }
      }
    }
  }
}
