/*
sass /c/mnt/ebs1/git/plannar/sass/style.scss /c/mnt/ebs1/git/plannar/sass/style.css
 *
 * Use this command to generate the css from the terminal.
 */
@import "../ext/sass/components/color-variables";
@import "../ext/sass/components/variables";
@import "../ext/sass/components/global";

$mainFont: Roboto, RobotoDraft, Open Sans, arial, helvetica, sans-serif;
$devOpacity: 0.1;
$gridBorderColor: color('grey', 'lighten-2');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

body {
  background-color: color('grey', 'lighten-4');
  margin:           0;
  font-family:      $mainFont;
  overflow:         hidden;
}

nav {
  $navColor: rgba(0, 0, 0, .87);
  $navBgColor: white; // color('green', 'base')
  color:         $navColor;
  background:    $navBgColor;
  //$navBgColor: rgba(white, 0.1); // color('green', 'base')
  //background-image: linear-gradient($navBgColor, $navBgColor), url("/assets/backgroundImage.png");
  //background-image: url('/assets/bannerBackgroundImage.png');
  //background-image: url('https://a.thumbs.redditmedia.com/S2Er-B1YCeNQ-0sps0xPGRecK2AYH257Mnpl-A7Ogr0.png');
  z-index:       1;
  position:      relative;
  box-shadow:    none;
  border-bottom: 1px solid $gridBorderColor;

  .nav-wrapper {

    .sidenav-trigger {
      display: block;
      padding: 0 18px;
      margin:  0;
    }

    .input-field {
      position: absolute;
      display:  inline-block;

      input {
        font-family:   Minecraft, $mainFont;
        color:         $navColor;
        margin-bottom: 0;
        font-size:     1.5rem;
        height:        100%;
      }
    }

    .logo {
      background-image: url(/assets/icon.png);
      background-size:  cover;
      display:          inline-block;
      $logo-height-pcnt: 0.7;
      height:           $navbar-height * $logo-height-pcnt;
      width:            $navbar-height * $logo-height-pcnt;
      margin-top:       $navbar-height * ((1 - $logo-height-pcnt) / 2);
      margin-right:     1rem;
    }

    .brand-logo {
      font-family: Minecraft, $mainFont;
      color:       $navColor;
      left:        unset;
      transform:   none;
      font-size:   1.5rem;
    }

    a {
      color: $navColor;
    }
  }
}

hr {
  height:        1px;
  border-top:    1px solid color('grey', 'lighten-3');
  border-bottom: 0;
  border-right:  0;
  border-left:   0;
}


.row {
  margin-bottom: 0;

  &.checkboxRow {
    cursor:  pointer;
    padding: 0.75rem;

    label {
      width:   100%;
      display: inline-block;
      cursor:  pointer;

      input {
        vertical-align: -5px;
        display:        inline-block;
      }
    }
  }
}

.planList {
  margin: 0 -0.75rem;

  .col.m4 {

    .card-title {
      margin-bottom: 12px !important;

      a {
        color: black;
      }
    }
  }
}

.btn,
.btn-large,
.btn-small,
.btn-outlined,
.btn-flat {
  text-transform: none !important;
  font-family:    Minecraft, $mainFont;

  @extend .z-depth-0;
}

.btn-flat {
  color: $primary-color;
}

.btn-outlined {
  border: 1px solid color('grey', 'lighten-2');
}

.navTabsRow {
  text-align: center;

  .navTabs {
    width:            auto;
    display:          inline-block;
    text-align:       left;
    background-color: transparent;

    .tab {
      border-bottom-left-radius:  $button-radius;
      border-bottom-right-radius: $button-radius;
      margin-right:               5px;
      background-color:           #FFFFFF;

      a.active {
        background-color: transparentize($tabs-underline-color, .8);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#saveButton {
  width:     90%;
  position:  fixed;
  bottom:    0;
  font-size: 20px;
  display:   none;

  @media #{$medium-and-up} {
    width: 75%;
  }
  @media #{$large-and-up} {
    width: 60%;
  }
}

.planCard {
  height:   20rem;
  overflow: hidden;

  &.addNewCard {
    display:  block;
    position: relative;

    .card-content {
      position:   absolute;
      top:        50%;
      left:       0;
      right:      0;
      transform:  translateY(-50%);
      text-align: center;
      color:      color('grey', 'lighten-1');
      font-size:  1.5rem;

      i.material-icons {
        opacity: 0.7;
      }
    }
  }

  .card-image {
    cursor:  pointer;
    display: block;

    body.isDev & img {
      opacity: $devOpacity;
    }
  }

  .card-content {
    padding: 4px 12px 8px 12px;

    .card-title {
      font-size:     16px;
      font-weight:   600;
      margin-bottom: 0 !important;
    }

    p {
      font-size: 14px;
    }
  }
}

.badge.statBadge {
  margin-left: 0;
  color:       color('grey', 'lighten-1');
  font-weight: 300;

  i.material-icons {
    vertical-align: -3px;
    margin-right:   3px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin:             0;
}

@font-face {
  font-family: "Minecraft";
  src:         url("../ext/font/minecraft.woff") format('woff');
}

.ui-tooltip {
  padding:            10px 10px 7px 10px;
  font-size:          1rem;
  z-index:            2000;
  border-radius:      2px;
  color:              #ffffff;
  min-height:         36px;
  line-height:        120%;
  max-width:          calc(100% - 4px);
  overflow:           hidden;
  pointer-events:     none;
  background-color:   #323232;
  font-family:        Minecraft, $mainFont;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  border:             none !important;
  text-align:         left;

  small {
    font-size:  0.85rem;
    margin-top: 0.3rem;
    display:    block;
    color:      color('grey', 'lighten-1');
  }
}

.devErrorBox {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  opacity: 0.25;

  &:hover {
    background-color: color('pink', 'lighten-5');
    opacity:          1;
  }
}

@import "signIn";
@import "editor";
